{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Snowtricks{% endblock %}

{% block content %}
    <div class="container">
        <h1>Mot de passe oublié</h1>
        {{ form(form) }}
    </div>  
{% endblock %}
