{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe - Snowtricks{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 text-center mt-4 auth-forms" style="margin:auto;">
            <h1>Réinitialiser votre mot de passe oublié</h1>
            {{ form(form) }}
        </div>
    </div>  
{% endblock %}
