body{
    position: relative;
}

.container{
    min-height: 36em;
}
/** HOME **/
#present-home-container{
    position: relative;
    text-align: center;
}
#present-home-container img {
    width: 100%;
    height: 40em;
    object-fit: cover;
}

#present-home-container h1{
    font-weight: bold;
}

#home-subtitle
{
    background-color: black;
    color: white;   
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-title{
    font-size: 0.8em;
    padding-right: 0.5em;
}
.navbar-item-custom, .navbar-item-custom a{
    color: white;
}

.footer-custom {
    text-align: center;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #333333;
    padding:1em;
    margin-top: 2em;
}

.footer-custom p {
    margin-bottom: 0 !important;
}
.col-form-label{
    display: none;
}

.miniature{
    height:12em;
}

#trick-toolbar
{
    border: 3px solid black;
    position: absolute;
    top: 2em;
    right: 2em;
    padding: 5px;
}

#media-gallery
{
    overflow: scroll;
    overflow-y: hidden;
    scrollbar-color: red yellow;
}

.media-img
{
    cursor: pointer !important;
}

.media-img:hover
{
    filter: grayscale(100%);
}

.user-comment-thumbnail
{
    width: 4em;
    margin-right: 1em;
    padding-top: 0.2em;
}

.comment-thumbnail{
    width: 4.5em;
    border-radius: 50%;
    border: 3px solid black;
    
}

#user-profil-picture
{
    width:12em;
    border: 3px solid black;    
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.edit .custom-file  {
    display: block !important;
    max-width: 18em !important;
}

.auth-forms{
    border: 1px solid black;
    padding: 2em;
}

.comment{
    padding: 1em;
    border: 1px solid rgb(209, 207, 207);
    margin-top: 2em;
}

.error-content
{
    min-height: 36em;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #393812;
}

::-webkit-scrollbar-corner {
    background: #000;
}

/* Media queries */

/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #present-home-container img {
        height: 20em;
        object-fit: cover;
    }
    .card-img-top {
        height: 50vw;
    }
    .centered h1{
        font-size: 3em !important;
    }
    .centered h2{
        font-size: 2em !important;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .card-img-top {
        height: 50vw;
    }    
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}

/*X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {

}
