body{
    position: relative;
}

/** HOME **/
#present-home-container{
    position: relative;
    text-align: center;
}
#present-home-container img {
    width: 100%;
    height: 40em;
    object-fit: cover;
}

#present-home-container h1{
    font-weight: bold;
}

#home-subtitle
{
    background-color: black;
    color: white;   
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-item-custom, .navbar-item-custom a{
    color: white;
}

.footer-custom {
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
}

.col-form-label{
    display: none;
}

.miniature{
    height:12em;
}