body{
    position: relative;
}

/** HOME **/
#present-home-container{
    position: relative;
    text-align: center;
}
#present-home-container img {
    width: 100%;
    height: 40em;
    object-fit: cover;
}

#present-home-container h1{
    font-weight: bold;
}

#home-subtitle
{
    background-color: black;
    color: white;   
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-item-custom, .navbar-item-custom a{
    color: white;
}

.footer-custom {
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
}

.col-form-label{
    display: none;
}

.miniature{
    height:12em;
}

#trick-toolbar
{
    border: 3px solid black;
    position: absolute;
    top: 2em;
    right: 2em;
    padding: 5px;
}

#media-gallery
{
    overflow: scroll;
    overflow-y: hidden;
    scrollbar-color: red yellow;
}

.media-img
{
    cursor: pointer !important;
}

.media-img:hover
{
    filter: grayscale(100%);
}

.user-comment-thumbnail
{
    width: 4em;
    margin-right: 1em;
    padding-top: 0.2em;
}

.comment-thumbnail{
    width: 4.5em;
    border-radius: 50%;
    border: 3px solid black;
    
}

#user-profil-picture
{
    width:12em;
    border: 3px solid black;    
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #393812;
}

::-webkit-scrollbar-corner {
    background: #000;
}
