{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <h1>Inscription</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-success">
            <div class="alert alert-danger">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    {{ form(form) }}
</div>
{% endblock %}