{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    <div class="container error-content">
        <h1 class="text-center">Page non trouvée</h1>

        <p class="text-center">
            La page que vous demandée n'existe pas, <a href="{{ path('home') }}">retourner vers l'accueil</a>.
        </p>
    </div>
{% endblock %}